@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.navbar{
    background-color: rgb(59, 70, 92);
    color: white;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.primary-icon{
    height: 70px;
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(253, 188, 105);
    text-decoration: none;
}

.menu {
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (max-width: 480px){
    .navbar{
        flex-direction: column;
        position: relative;
    }
    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
    }
    .navbar .container-icon{
        width: 100%;
    }
    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top:10px;
        display: none;
    }
    
    .nav-list .list-item {
        display: block;
        padding: 10px;
        border-top: 1px solid white;
    }
    
    .primary-icon{
        height: 35px;
        margin-left: 10px;
        margin-top: 8px;
    }

    .active{
        display: block;
    }
}